#equipe{
    margin-top: 1%;
    margin-bottom: 1%;
}
.container {
    margin: auto;
    padding: 2%;
    
}
#equipe .titre3{
    color: #ce0033;
    text-align: center;
    font-weight: bold;
    margin: 2%;
}
#equipe p{
    margin: 2%;
    font-weight: bold;
    text-align: center;
}
#equipe .row{
    max-width: 100%;
    display: flex;
   
}
.row .col{
    max-width: 28%;
    background-color: #fff;
    box-shadow:0px 8px 16px ;
    padding: 2%;
    margin-left: 3%;
}
.col img{
    border-radius: 50%;
    width: 40%;
    margin-left: 22%;
    padding: 2%;

}
.col h3{
    text-align: center;
    margin-top: 0%;
}
.col h4{
    text-align: center;
    margin-top: 0%;
    color: #ce0033;
}
.col p{
    text-align: center;
    margin-top: 0%;
    color: rgb(216, 204, 204);
}
.row .icon{
    text-align: center;
    
}
iconify-icon {
    margin-top: 10%;
    margin-left: 5%;
}
#fabrique{
    margin-top: 2%;
    margin-bottom: 1%;
}
.container {
    margin: auto;
    padding: 2%;
    
}

#fabrique .row{
    max-width: 100%;
    
    display: flex;
   
}
.row .col1{
    max-width: 28%;
    padding: 2%;
    margin-left: 3%;
    
}
#fabrique .titre4{
    color: #ce0033;
    text-align: center;
    font-weight: bold;
    margin: 2%;
}
.col1 h3{
    
    margin-top: 0%;
    color: black;
}
.col1 p{
   
    margin-top: -4%;
    color: rgb(22, 21, 21);
}
.col1 img{
    width: 100%;


}