/* section css de la barre de navigation */
body{
    font-family: sans-serif;
}
.logsimplon{
    height: 66px;
    width: auto;
}
.topbar{
    display: flex;
    margin-top: 2%;
}
.topbarnav{
    margin-left: 9%;
    color: black;
    font-size:1em ;
    display:flex;
    margin-top: 1%;
}

.topbarnav a{
    /* pour le responsive design revoir cette unité de mesure */
    margin-left: 50px;
    color: black;
    text-decoration: none;
    font-weight: bolder;
}
.topbar img{
    margin-left:4% ;
}
/*  style de la fabrique et ses missions */
.gros_titre{
    /* on doit mettre une ombre derrière le h1 */
    text-align: center;
    color:white;
    font-size: 2em;
    font-weight: bold;
    background-image:url("Fabrique/femmeexplain.png");
    background-size: cover;
    background-repeat: no-repeat;
    margin-top:1%;
    padding:15%;
   padding-bottom:26%;
}
.rouge{
   display: flex;
   margin-left: 18%;
   background-color: #ce0033;
   color:white;
   width: 66%;
}

.box_fabrique .bas{
    width: 70%;
    font-size: 1.2em;
    line-height: 1.8;
    word-spacing:1.5rem;
    margin-left:12%;
}

.box_fabrique h2{
    font-size: 3em;
    text-align:center;
    color: white;

}
/* style de la petite histoire */
.histoire{
    text-align: center;
    color:#ce0033;
    font-size: 2.2em;
    margin-top: 6%;
    margin-bottom: 6%;
}
.para_ouverture{
    width:25% ;
    text-align: center;
    line-height: 2;
}
.para_ouverture h3{
    color:#ce0033;
    font-size: 1.8em;
}
.ouverture{
    display:flex;
    justify-content: space-evenly;
    background-color: #f5f2f2;
    padding: 3%;
}
.minifemme{
    width:550px;
    height:auto
}
.annee{
    font-size: 1.7em;
    font-weight: bolder;
    background-color: #ce0033;
    color: white;
   width: 48%;
   padding-bottom: 0;
   padding-top: 0;
   position:relative;
   bottom:70%;
   left:253%
   
}
/* style de la pédagogie */
.video{
    height: 270px;
    width: 500px;
}
.active p{
    width: 65%;
    line-height: 2.3;
}
.active h3{
    color:#ce0033
}
.active{
    margin-left: 7%;
}
.pedagogie{
    display:flex;
   margin-left: 14%;
}
/* style des 6 pliers */
.icone{
    height: auto;
    width: 60px;
}
.rows{
    display: grid;
    grid-template-columns: 500px 500px;
    margin-right: 0;
}
.titre1 h2{
    color: #ce0033;
    margin-left: 2%;
    font-size: 1.8em;
}
.rows p{
    width: 54%;
    font-weight: lighter;
}
.container{
    display: flex;
    justify-content: space-around;
}
.etudiante{
    border-radius: 6%;
    margin-top: 25%;
    height: 650px;
}
.box{
    border: solid rgb(246, 242, 242);
    width: 80%;
    font-size: 1em;
    padding-left: 7%;
    margin-top: 7%;
    border-bottom-color: #ce0033;
    border-bottom-width: 8px;
}
/* style nos valeurs */
.valeur{
    display:flex;
    justify-content: space-evenly;
}
.valeur-div h3{
    color: rgb(211, 38, 73);
    font-size:2em;
    margin-bottom: 0.5em;
}
.valeur-div p{
    width: 418px;
    line-height: 2em;
    margin-bottom: 6em;
}
#btn-voir-plus{
    font-size: 1.2em;
    border-radius: 35px;
    padding-left:3em;
    padding-right:3em;
    padding-top: 0.5em;
    padding-bottom: 0.7em;
    background-color: crimson;
    color: white;
    font-weight: bolder;
    border-color: rgb(252, 249, 249);
    cursor:pointer
}
.respect{
    display:flex;
    margin:1em;
    border:solid thin rgb(250, 240, 240);
    padding-left: 1.5em;
    padding: 2em;
}
.respect span{
    font-size: 1.3em;
}
.respect p{
    line-height:1.5em;
}
.respect h4{
    color: rgb(212, 17, 56);
    padding:0.8em;
    font-size: 1.4em;
    margin-right: 1em;
    margin-top: 0.1em;
    border: hidden;
    border-radius: 35px;
    background-color:rgb(255, 189, 202);
}
/* style de nos chiffres */
.red{
    display:flex;
    justify-content: space-around;
    background-image:url("Fabrique/arriere_plan.png");
    background-repeat: no-repeat;
    background-size: cover;
    color:white;
    padding:2%
}
.contenu h3{
    font-size: 2.5em;
}
.contenu{
    text-align: center;
}
.contenu p{
    line-height: 1.5;
}
/* style notre equipe */
.texte p{
    text-align: center;
    font-size: 1.5em;
}
.formateur{
    height: auto;
    width: 200px;
    border-radius: 55%;
}
.photo_formateur{
    display:flex;
    justify-content: space-around;
}
.box_formateur{
    text-align: center;
    margin-top: 5%;
    border-style: solid;
    padding: 2%;
    padding-left:3% ;
    padding-right:3% ;
    border-width: 0.2px;
    border-radius: 2%;
    border-color: rgb(240, 236, 236);
}
/* style ici la fabrique */
.agronome{
    height: auto;
    width: 250px;
}
.div_developpement{
    width: 18%;
    margin-left: 10%;
}
.developpement{
    display: flex;
    justify-content: center;
}
/* style voyage au coeur de l'Afrique */
.groupesimplon{
    height: auto;
    width: 550px;
}
.play{
    height: auto;
    width: 60px;
}
.div_voyage span{
    font-weight: bolder;
    font-size: 1.2em;
}
.voyage{
    display:grid;
    grid-template-columns: 500px 500px;
    margin-top:10%;
    justify-content: center;
    background-color: rgb(253, 249, 249);
    padding: 2%;
} 
.div_voyage h2{
    color:#ce0033;
    font-size: 1.8em;
    font-weight: bolder;
}
.div_voyage{
    margin-right: 6%;
    margin-top: 8%;
}
.play{
    position:relative;
    bottom:50%;
    left: 50%;
}
.div_voyage p{
    line-height: 1.5;
}
/* style recrutement */
.simplongrp{
    height: auto;
    width: 550px;
    margin-top: 6%;
}
.rejoindre h2{
   color:#ce0033
}
.rejoindre p{
    width: 68%;
    line-height: 1.7;
}
.join{
    display:grid;
   grid-template-columns: 600px 700px;
   align-content: center;
   margin-left: 14%;
}
/* style offre en cours */
.epingle{
    height: auto;
    width: 20px;
}
.offre{
    display:flex;
    margin-top: 6%;
}
.hr{
    border-style: solid;
    width: 95%;
    border-width: 0.2px;
    color: #e84971;
}
.cours{
    background-color: #f5e0e4;
    width: 60%;
    padding: 2%;
    border-radius: 2%;
}
.cours p{
    width: 32%;
}
.btn_postuler{
    font-size: 1em;
    border-radius: 35px;
    padding-left:3em;
    padding-right:3em;
    padding-top: 0.5em;
    padding-bottom: 0.7em;
    background-color: crimson;
    color: white;
    font-weight: bolder;
    border-color: rgb(252, 249, 249);
    cursor:pointer;
    margin-left: 13%;
    margin-bottom: 3%;
}
.cours h3{
    font-size: 1.5em;
}
.CDD{
    padding-left: 3% ;
    border-style: solid;
    background-color: white;
    padding: 1%;
    width: 20%;
    border-width: 0.5px;
    border-radius: 13%;
    border-color: #dbd7d7;
    position:relative;
    bottom:58%;
    left: 32%;
    font-size: 0.8em;
}
/* Style du formulaire */
.formulaire input{
 padding: 1px;
 font-size: 1em;
 padding-top:2% ;
 padding-bottom:2%;
}
textarea{
    width: 115%;
}
.btn_rejoindre{
    font-size: 1em;
    border-radius: 35px;
    padding-left:3em;
    padding-right:3em;
    padding-top: 0.5em;
    padding-bottom: 0.7em;
    background-color: crimson;
    color: white;
    font-weight: bolder;
    border-color: rgb(252, 249, 249);
    cursor:pointer;
}
.terms{
    font-weight: bolder;
}
/* style ils en parlent */
.personne{
    height: auto;
    width:200px ;
    border-radius: 45%;
}
.speak{
    display: flex;
    margin-left: 20%;
}
.div_speak p{
  width: 68%;
  line-height: 2;
  font-size: 1.2em;
  color: rgb(141, 141, 141);
  font-weight: lighter;
}
/* style appel à candidature */
.conteneur{
    display: grid;
    grid-template-columns: 400px 400px 500px;
    justify-content: center;
}
.box_form h3{
    color:white;
    padding:0.8em;
    font-size: 1.4em;
    margin-right: 1em;
    margin-top: 0.1em;
    border: hidden;
    border-radius: 35px;
}
.box_form div{
    display:flex;
    margin:1em;
    border:solid thin rgb(250, 240, 240);
    padding-left: 1.5em;
    padding: 2em;
}
.box_form span{
    font-size: 1.3em;
}
.DW{
    background-color:#ce0033 ;
}
.DM{
    background-color: rgb(3, 108, 168);
}
.RD{
    background-color:orange
}
.SH{
    background-color: red;
}
.CC{
    background-color: green;
}
/* style des partenaires */
.partner{
    display:flex;
    justify-content: space-evenly;
}
#partner1{
    margin-bottom: 10%;
    margin-top: 6%;
}
#partner2{
    margin-bottom: 10%;
}
.orange{
    height: 100px;
    width: 160px;
   }
.societe{
   height: 100px;
   width: 210px;
   }
.france{
    height:auto;
    width:110px;
   }
.union{
    height: auto;
    width:110px ;
   }
.aviva{
    height: auto;
    width:110px ;
}
/* style footer */
footer{
    display: flex;
    justify-content:space-evenly;
    background-image: url("Fabrique/image footer.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding:4%;
}
footer h2{
    color: white;
}
footer p{
    color:rgb(182, 180, 180)
}
#btn-joindre{
    background-color: rgb(192, 15, 50);
    color: white;
    border: none;
    cursor: pointer;
}
#simplon{
    height: auto;
    width:55%;
    margin-top:5%;
}
.réseau{
    margin-top:6%;
    height: auto;
    width: 9%;
    margin-left: 2%;
}
aside{
    color:white;
    background-color: crimson;
    padding: 1.5%;
    font-size:1em;
}
aside span{
    margin-left: 61%;
}
@media only screen and (max-width: 768px){

}
@media only screen and (max-width: 1024px)