.topbar{
    display: flex;
    width:100% ;
    height: 16px; 
    background: white;
    margin-top: 2%;
}
.topbarnav{
    margin-left: 250px;
    color: black;
    font-size:20px ;
    display: flex;
    
    
}

.topbarnav a{
    margin-left: 50px;
    color: black;
    text-decoration: none;
    font-weight: 600;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
}
.topbar img{
    margin-left:50px ;
    width: 120px;
    height: 50px;
    
}
.topbar .select{
    margin-left:120px ;
    margin-top:-10px;
}
iconify-icon .tof{
    margin-left: 70px; 
}
.tof{
    margin-left: 40px;
}
.topbarnav a:hover{
    border-bottom: 5px solid #ce0033; /* Soulignement épais au survol */
    color: #ce0033;
    padding-bottom: 55px;
}
.topbar .contact{
    margin-right:10px;
    border: 1px solid ;
    border-radius:30px ;
    background:#ce0033 ;
    margin-top:3% ;
    color: white;
    height: 30px;
    width: 60px;
    padding: 3px;
}
.topbarnav :hover{
    color: red;
    text-decoration: underline;
}
.bouton{
    border: 1px solid #ce0033 ;
    border-radius:30px ;
    background:#ce0033 ;
    margin-top:3% ;
    color: white;
    height: 50px;
    width: 150px;
    font-weight: bold;
    align-items: center;
    padding: 10px 5px 25px 5px;
    font-size: 15px;
    
}
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.p1{
    color:white;
    font-weight: bold;
    font-size:50px;
    margin-right:500px;
    margin-left:auto;
}
.p2{
    font-size: 25px;
    margin-top: 2px;
}

.imag {
    position: relative; /* Nécessaire pour placer la superposition */
    overflow: hidden; /* Pour empêcher le texte d'apparaître en dehors du conteneur */
    margin-top:3%;
}

.imag::before {
    content: ''; /* Contenu de la superposition */
    position: absolute; /* Position absolue pour la superposition */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('26.png');
    background-size: cover; /* Redimensionne l'image pour remplir complètement l'arrière-plan */
    background-position: center; /* Positionne l'image au centre */
    background-repeat: no-repeat;
    filter: brightness(50%);
    z-index: -1; /* Place la superposition derrière le contenu */
}

.imag .back {
    position: relative; /* Pour placer le texte par rapport au conteneur */
    z-index: 1; /* Place le texte au-dessus de la superposition */
    color: white; /* Couleur du texte */
    padding: 4% 10% 11% 2%; /* Espacement du texte */
    margin-top: 3%; /* Marge supérieure */
}

.imag .back{
    margin-left: 15%;
}
                                /*PRESENTATION */
#presentation{
    background-color: rgb(252, 251, 247);
    margin-bottom: 10%;

}
#presentation .container {
    margin: auto;
    padding: 2%;
    
}
#presentation .row{
    display: flex;
    align-items: center;
    text-align: center;
    max-width: 100%;
    justify-content: space-between;
}
.imag1 .imgpresentaion{
    width: 50%;
    height: 50%;
    border-radius: 5%;
    margin-left:45% ;

}

#presentation h1{
    font-weight: 800px;
    color: #da073b;
    font-size: 35px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#presentation .texte1{
    max-width:35%;
    margin-right: 20%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#presentation p{
    font-size: 20px;
    line-height: 2;
}
                                /*NOUVELLES*/
#nouvelles{
    margin: 3%;
}
#nouvelles h1{
    font-weight:700px;
    color: #c70536;
    text-align: center;
    margin-bottom: 5%;
    font-size: 45px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 20px;
}
#nouvelles h2{
    color:#ce0033;
    font-weight: bold;
    margin-left: 2%;
    font-size: 35px;
}
#nouvelles .card{
    display: flex;

}
#nouvelles .card #deco{
    color: #ffff;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 3%;
    padding-bottom: 1%;
    border-radius: 0 0 60% 60%;
    margin-left: 15%;
    margin-top: -20px;
    position:absolute;
    background: #ce0033;

}
#nouvelles .card1{
    max-width: 25%;
    margin: 1%;
}
#nouvelles img{
    width: 100%;
    height: 50%;
    border-radius: 5%;
}
#nouvelles p{
    color: rgb(78, 77, 77);
}

#nouvelles #icon{
    display: flex;
    float: right;
}
#nouvelles #icon h3{
    text-align: right;
    color: #ce0033; 
    margin-right: 20px;
 
}

                                /*EVENEMENTS*/
#event{
    margin: 10% 3% 0 3%;
}
#event .event{
    margin-top: 1%;
    margin-bottom: 1%;
    display: flex;
    justify-content: space-evenly;
   
    
}
#event .event1{
    background-color: #ce0033;
    color: #ffff;
    display: flex;
    max-width: 50%;
    margin: 1%;
    padding: 1%;
    height: 100px;
}
#event .titre{
    color: #ce0033;
    font-weight: bold;
    margin-left: 30px;
    font-size: 30px;
}
#event .date{
    padding: 1%;
    margin-left:5%;
}
#event b{
    font-size: xx-large;
    font-weight: bold;
}
#event .bodyevent{
    text-align: center;
    max-width: 57%;
    font-weight: bold;
    display: flex;
    margin-left: 3%;
}
#event iconify-icon{
    max-height: 50%;
    margin-left: 10%;
    margin-top: 2%;
}

                                    /*DECOUVERTE*/
#decouverte .back{
    background-image: url(35.png) ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center ;
    width: 100%;
    height: 500px;
    color: rgba(255, 255, 255, 0.164);
    font-size: 20px;
    margin-top: 5%;
   
}
#decouverte .dec{
    color: #ce0033;
    font-size:30px ;
    margin-left:1020px ;
    font-weight: bold;
    margin-bottom: 100px;
}
.title_decou{
    color: white;
    text-align: left;
    font-size: 50px;

}
#decouverte .text{
    margin-left: 50px;
    color: rgb(255, 255, 255);
    font-weight:bold;
    font-size: 30px;
    margin-top: 80px;
    font-weight: 800;
    
}
#decouverte .red{
    display: block;
    margin-left: 15%;

   
}
#decouverte .case{
    display: flex;
    width: 900px;
    height: 150px; ;
    margin-left: 12%;
    margin-right: 12%;
    margin-top: -5%;
    background-color: #ce0033; ;
    color:white ;
}
#decouverte .num{
    font-size:25px ;
    margin-top:2px ;
    text-align: center;
}
#decouverte .ecrit{
    margin-top:4px ;
}

                                /*FORMATEUR*/
#formateur .forma{
    color: #ce0033;
    margin-left:5% ;
    border-bottom: solid black;
    width: 170px;
    font-size: 50px;

}
#formateur .samba{
    display: flex;
   margin-top: 10px;
   justify-content: space-evenly;
   height: 500px;
   
}
#formateur .sam{
    display: flex;
    margin-left: 50px;
    margin-top: 80px;
    background: rgb(249, 247, 247);
    box-shadow:rgba(254, 252, 252, 0.534);
}
#formateur.kane{
    font-size: 12px;
    border-bottom:solid ;
    color: black;

}
#formateur .sam img{
    margin-bottom:-30%;
    margin-left: 10%;
    margin-left: 20px;
    border-radius: 5%;
    margin-top: -15%;

    
}
#formateur .write{
    margin-left:40px;
    font-size:15px ;
    margin-left:15px ;
    padding-top: 50px;
}
#formateur .voir{
    border-radius:60px ;
    background: #ce0033;
    color:white ;
    margin-left:100px ;
    position: relative;
    top: 25px;
    left: 125px;
    font-size: 20px;
}
#formateur .b{
    border-radius:40%;
    background: #ce0033;
    color: #ce0033;
    margin-top: 4%;
    width:20px ;
    height: 8px;
    border: #ce0033;
    
}
#formateur .bo{
    border-radius:50% ;
    width: -1px;
    width:1px ;
    background: #ce0033;
    border: #ce0033;
}
#formateur .bout{
    text-align: center;
}
                                    /*APPRENANTS*/
#apprenant{
    margin-top: 10%;
    margin-left:6% ;
    
}

#apprenant .apprenants{
    display: flex;
    margin-top: 1%;
    margin-bottom: 1%;
}
#apprenant h1{
    font-weight: bold;
    color: #ce0033;
    border-bottom: 4px solid #000;
    margin-bottom: 15%;
}
#apprenant .app{

    max-width: 20%;
}
#apprenant .text{
    background-color: whitesmoke;
    padding:15%;
    margin-top: 1%;
    line-height: 2;
    font-size: 20px;
    width: 700px;
    padding-left: 5px;
}
#apprenant .student{
    display: inline-block;
    max-width: 40%;
}
#apprenant .image{
    max-width: 50%;
    background-color: #fff;
    box-shadow: 0 5px 10px -5px ;  
    
}

#apprenant .img27{
    width: 100%;
    height: 70%;
    border-bottom:  solid  #ce0033 10px;

}
#apprenant .text1{
   max-width: 70%;
   margin-left: 4%;
    background-color: #fff;
    font-weight: bold;
    border-radius: 70px;
    font-size: 20px;
}
#apprenant .image #deco1{
    color: #ffff;
    font-size: 16px;
    display: inline-block;
    align-items: center;
    width: 10%;
    padding: 1%;
    border-radius:   0 38% 38% 0 ;
    margin-left: -2%;
    position:absolute;
    background: #ce0033;
}
#apprenant .img12{
    max-width: 12%;
    max-height: 12%;
    position: absolute;
    margin-top: 10%;
    margin-left: -25%;
    opacity: 0.5;
   
}
#apprenant .img12a{
    max-width: 12%;
    max-height: 10%;
    position: absolute;
    margin-left: 22%;
    margin-top: -25%;
   
}
#apprenant .img12b{
    max-width: 12%;
    max-height: 10%;
    position: absolute;
    margin-left: 43%;
    margin-top: -25%;
   
}

#apprenant #heure span{
    color: #ffff;
    font-weight: bold;
    font-size: 16px;
    display: inline-block;
    text-align: center;
    width: 5%;
    padding: 0.3%;
    margin-left: 40%;
    margin-top: -5%;
    position:absolute;
    background: #ce0033;
}

#apprenant #heure2 span{
    color: #ffff;
    font-weight: bold;
    font-size: 16px;
    display: inline-block;
    text-align: center;
    width: 5%;
    padding: 0.3%;
    margin-left: 40%;
    margin-top: -5%;
    position:absolute;
    background: #ce0033;
}

                                /*HISTOIRE*/
#histoire{ 
    margin-top: 10%;
    margin-left:6% ;
    
}
#histoire .history{
    display: flex;
    margin-top: 1%;
    margin-bottom: 1%;
}
#histoire .app{
    font-size: 25px;

    max-width: 77%;
}
#histoire .img13{
    width: 100%;
    height: 70%;
    border-bottom:  solid  #ce0033 10px;

}
#histoire .img12c{
    max-width: 12%;
    max-height: 12%;
    position: absolute;
    margin-top: 10%;
    margin-left: -25%;
    opacity: 0.5;
   
}
#histoire .image{
    max-width: 50%;
    background-color: #fff;
    box-shadow: 0 5px 10px -5px ;  
    
}
#histoire #heure1 span{
    color: #ffff;
    font-weight: bold;
    font-size: 16px;
    display: inline-block;
    text-align: center;
    width: 5%;
    padding: 0.3%;
    margin-left: 36%;
    margin-top: -5%;
    position:absolute;
    background: #ce0033;
}
#histoire .text1{
    max-width: 80%;
    margin-left: 4%;
    font-weight: bold;
    font-size: 25px;
    height: 10px;


 }
#histoire h1{
    font-weight: bold;
    color: #ce0033;
    border-bottom: 4px solid #000;
    

}
#histoire .communaute{
    display: inline-block;
    max-width: 40%;
    margin-left: 5%;
}
#histoire .text2{
    max-width: 100%;
    text-align: center;
    margin-top: 18%;
    line-height: 2;
    font-size: 25px;
}
#histoire .image #deco2{
    color: #ffff;
    font-size: 12px;
    display: inline-block;
    align-items: center;
    width: 13%;
    padding: 1%;
    border-radius:   0 38% 38% 0 ;
    margin-left: -2%;
    position:absolute;
    background: #ce0033;
}

                            /*EQUIPE PEDAGOGIQUE*/           
#team{
    display: block;
}
#team h1{
    font-weight: bold;
    color: #ce0033;
    font-size: 40px;
    text-align: left;
    margin-bottom: 20px;

}
#team .img30{
    width: 90%;
    height: 90%;
    margin: 2%;
    margin-left: 70px;

}
#team .image12b{
    max-width: 90%;
    background-color: #fff;
    position: relative;
    bottom: 35px;
    display: inline-block;
    
    
}
#team .image1 #deco1{
    color: #ffff;
    font-size: 13px;
    display: inline-block;
    align-items: center;
    width: 10%;
    padding: 1%;
    border-radius:   0 38% 38% 0 ;
    margin-top: 4%;
    margin-left: 2%;
    position:absolute;
    background: #ce0033;
    font-weight: bold;
}
#team hr{
    background-color: #000000;
    width: 10%;
    margin: 0%;
    height: 3px;
  
}
.img8{
    width: 100%;
    height: 100%;
    max-height: 70%;

}
                    

.LoreJm{
    display: block;
    width: 300px;
    background: #e6e2e2;
    margin-left: 5px;
    margin-right: 150px;
    height: 500px;
    padding: 25px;
    border-radius: 20px;
    
}
.Berry{
    display: flex;
    
}
.par{
    font-size: 18px;
}
.Berry img{
    margin-top: 18px;
    border-radius: 50%;
}
.formateur{
    display: block;
    margin-left: 20px;
}
.max{
    display: flex;
    margin-left: 250px;
}
.petite{
    margin-left: 70px;
    border-bottom: solid ;
    border-color: black ;
    margin-top: 12px;
    font-size: 30px ;
    color: #ce0033;
    font-weight: bold;
    border-width:1.5px ;
    max-width:450px ;
}
.sam{
    font-weight: bold;
    font-size: 20px;
}
.img19 img{
    width: 80px;
}
.forma{
    font-size: 20px;
}
                                            /*Formulaire */

 .formulaire{
        display: flex;
        margin-left: 30px;
        background:#f5f3f5;
        text-decoration: colunm;
        justify-content: space-around;
        border-radius: 10px;
                                                
}




h1{
    text-align: center;
    color: #ce0033;
    font-size: 45px;
}
input{
    padding: 10px;
    border:1px solid rgb(226, 220, 220);
}
.nmc{
    margin-left: 200px;
    display: block;
}
.mes{

    margin-top:50px ;
    padding:30px ;
    
}
.mes textarea{
    width: 100%;
    height:80px ;
}
.nou{
    margin-bottom: 30px;
    margin-top:10px ;
}
.nom{
    margin-left: 20px;
    margin-bottom: -20px;
}
.tel{
    margin-left:20px ;
    margin-top:30% ;
    padding-top:30px ;
}
.envoyer{
    border-radius:50px ;
    background:#ce0033 ;
    color:white;
    border: #ce0033;
    font-size: 25px;
    padding: 10px; 
    margin-left: 35px;
}
.last{
    margin-top: 2px;
}
.adresse{
    display: flex;
}
.adresse img{
    margin-right: 40px;
    margin-top: 25px;
    height: 50px;

}
.truc{
    display: block;
}
.re{
    color:darkgray;
}

                                    /*FOOTER*/

#footer{
    background-image: url('./Images\ du\ pdf\ home/18.png');
        /* Autres propriétés facultatives */
    background-size: cover; /* Redimensionne l'image pour remplir complètement l'arrière-plan */
    background-position: center; /* Positionne l'image au centre */
    background-repeat: no-repeat; /* Empêche la répétition de l'image */
    padding: 4% 10% 11% 2%;
    margin-top: 5%;
    margin-bottom: 0%;
    
}
#footer .container{
    display: flex;
}
#footer #logo{
    display: inline-block;
    max-width: 25%;
    
   
}
#footer .logo p{
    font-size: 60%;
   margin-top: -7%;
    color: #ffff;
  
}
#footer .img14{
    width: 50%;
    margin: 5%;
}
#footer .icon{
  
    margin-top: 20%;
    
}
#footer iconify-icon{
    margin-left: 5%;
}

#footer iconify-icon:not(.first-icon) {
    margin-left: 5%; /* Ajoute de l'espace à gauche des icônes sauf pour la première */
}
#footer .infos{
    display: inline-block;
    max-width: 25%;
    margin-top: -2%;
}
#footer .infos h1,.coordonne h1,.newsletter h1{
    color: #ffff;
}


#footer li a{
    text-decoration: none;
    color: rgb(201, 187, 187);
    display: inline-block; 
    justify-content: space-between;
}
#footer .infos ul {
    list-style: none; /* Supprime les puces */
    padding: 0; /* Réinitialise les marges intérieures du ul */
}

#footer .infos li {
    margin-bottom: 5%; 
    color: rgb(201, 187, 187);
    text-decoration: none;
    list-style: none;
   
}
#footer .coordonne{
    display: inline-block;
    max-width: 25%;
    margin-top: -0.5%;
    margin-left: 6%;
    color: rgb(201, 187, 187);
}

#footer .adresse{
    margin-top: 10%;
}
#footer .email{
    margin-top: 15%;
}
#footer .email a{
    text-decoration: none;
    color: rgb(201, 187, 187);
}
#footer .email li{
    list-style: none;
}
#footer .newsletter{
    display: inline-block;
    max-width: 25%;
    margin-left: 8%;
    color: rgb(201, 187, 187);
}
#footer .input{
    max-width: 100%;
    display: flex;
    margin-top: 20%;

}
#footer input{
    
    height: 100%;
    padding: 4.3%;
    border-radius: 8%;
}
#footer .joindre{
    color: #ffff;
    font-weight: bold;
    font-size: 16px;
    display: inline-block;
    text-align: center;
    width: 5%;
    padding: 1%;
    margin-left: 15%;
    margin-top: -0.1%;
    position:absolute;
    background: #ce0033;
}

                                        /*BAS PAGNE*/
#baspage{
    background-color: #ce0033;
    color: #ffff;
    font-weight: bold;
    margin-top: -2%;
}
#baspage .copy1{
    display: flex;
}
#baspage .copy{
    max-width: 50%;
    padding: 0.5%;
}
#baspage .made{
    text-align: right;
    max-width: 50%;
   margin-left: 50%;
   margin-right: 2%;
}

                            /* Media queries et Responsivite*/

@media only scren and (max-width:400px) {
    .topbarnav a {
        flex-direction: column;
    }
}





