.topbar{
    display: flex;
    width:100% ;
    height: 16px; 
    background: white;
    margin-top: 2%;
}
.topbarnav{
    margin-left: 140px;
    color: black;
    font-size:16px ;
    display: flex;
    
}

.topbarnav a{
    margin-left: 50px;
    color: black;
    text-decoration: none;
    font-weight: bold;
}
.topbar img{
    margin-left:50px ;
}
.select{
    margin-left: 10px ;
}

.contact{
    margin-right:10px;
    border: 1px solid ;
    border-radius:30px ;
    background:#ce0033 ;
    margin-top:3% ;
    color: white;
    height: 30px;
    width: 60px;
    padding: 2px;


}
.tof{
    margin-left: 50px;
}
.imag{
    background-image: url(26.png);
    background-size: cover; /* Redimensionne l'image pour remplir complètement l'arrière-plan */
    background-position: center; /* Positionne l'image au centre */
    background-repeat: no-repeat;
    padding: 4% 10% 11% 2%;
    color: white;
    margin-top:3% ;
    opacity: 0.9;
}
.back{
    margin-left: 15%;
}
.topbarnav :hover{
    color: red;
    text-decoration: underline;
}
.bouton{
    border: 1px solid #ce0033 ;
    border-radius:30px ;
    background:#ce0033 ;
    margin-top:3% ;
    color: white;
    height: 30px;
    width: 150px;
    font-weight: bold;
    align-items: center;
    padding: 10px 5px 25px 5px;
    
}
#presentation{
    background-color: rgb(233, 225, 215);
   
    margin-bottom: 1%;
}
.container {
    margin: auto;
    padding: 2%;
    
}
.row{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.imgpresentaion{
    width: 35%;
    height: 35%;
    border-radius: 5%;
    margin-left:45% ;

}

#presentation h1{
    font-weight: bold;
    color: #ce0033;
}
.texte1{
    max-width:26%;
    margin-right: 23%;
}
#presentation p{
    font-size: 88%;
}
#nouvelles{
    margin-top: 1%;
    margin-bottom: 1%;
}
#nouvelles h1{
    font-weight: bold;
    color: #ce0033;
    text-align: center;
}
#nouvelles h3{
    color:#ce0033;
    font-weight: bold;
}
.card{
    display: flex;

}
.card #deco{
    color: #ffff;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 3%;
    padding-bottom: 1%;
    border-radius: 0 0 60% 60%;
    margin-left: 15%;
    margin-top: -20px;
    position:absolute;
    background: #ce0033;

}
.card1{
    max-width: 25%;
    margin: 1%;
}
#nouvelles img{
    width: 100%;
    height: 50%;
    border-radius: 5%;
}
#nouvelles p{
    color: rgb(78, 77, 77);
}

#icon{
   
    display: flex;
    float: right;
    
   
}
#icon h1{
    text-align: right;
 
}
.event{
    margin-top: 1%;
    margin-bottom: 1%;
    display: flex;
    justify-content: space-evenly;
   
    
}
.event1{
    background-color: #ce0033;
    color: #ffff;
    display: flex;
    max-width: 50%;
    margin: 1%;
    padding: 1%;
}
#event .titre{
    color: #ce0033;
    font-weight: bold;
}
.date{
    padding: 1%;
    margin-left:5%;
}
b{
    font-size: xx-large;
    font-weight: bold;
}
.bodyevent{
    text-align: center;
    max-width: 57%;
    font-weight: bold;
    display: flex;
    margin-left: 3%;
}
#event iconify-icon{
    max-height: 50%;
    margin-left: 10%;
    margin-top: 2%;
}



.container {
    margin: auto;
    padding: 2%;
    
}
.apprenants{
    display: flex;
    margin-top: 1%;
    margin-bottom: 1%;
}
#apprenant h1, #alimu h1{
    font-weight: bold;
    color: #ce0033;
}
.app hr{
    
    color: #000000;
    width: 20%;
    height: 1%;
    margin: 0%;
}
.text{
    background-color: whitesmoke;
    padding:15%;
    margin-top: 1%;
}
.student{
    display: inline-block;
    max-width: 40%;
}
.image{
    max-width: 50%;
    background-color: #fff;
    box-shadow: 0 5px 10px -5px rgba(0, 0, 0, 0.3);
    
    
}
.image hr{
    background-color: #ce0033;
    width: 100%;
    height: 1%;
    margin: 0%;
}
.img27,.img13{
    width: 100%;
    height: 70%;

}
.text1{
   max-width: 70%;
   margin-left: 4%;
    background-color: #fff;
    font-weight: bold;
}
.image #deco1{
    color: #ffff;
    font-size: 16px;
    display: inline-block;
    align-items: center;
    width: 10%;
    padding: 1%;
    border-radius:   0 38% 38% 0 ;
    margin-left: -2%;
    position:absolute;
    background: #ce0033;
}
.img12{
    max-width: 12%;
    max-height: 12%;
    position: absolute;
    margin-left: 22%;
    margin-top: -16%;
    opacity: 0.5;
   
}
.img12a{
    max-width: 12%;
    max-height: 10%;
    position: absolute;
    margin-left: 22%;
    margin-top: -25%;
   
}
.img12b{
    max-width: 12%;
    max-height: 10%;
    position: absolute;
    margin-left: 43%;
    margin-top: -25%;
   
}

#heure span{
    color: #ffff;
    font-weight: bold;
    font-size: 16px;
    display: inline-block;
    text-align: center;
    width: 5%;
    padding: 0.3%;
    margin-left: 40%;
    margin-top: -5%;
    position:absolute;
    background: #ce0033;
}
#heure1 span{
    color: #ffff;
    font-weight: bold;
    font-size: 16px;
    display: inline-block;
    text-align: center;
    width: 5%;
    padding: 0.3%;
    margin-left: 35%;
    margin-top: -5%;
    position:absolute;
    background: #ce0033;
}
#heure2 span{
    color: #ffff;
    font-weight: bold;
    font-size: 16px;
    display: inline-block;
    text-align: center;
    width: 5%;
    padding: 0.3%;
    margin-left: 40%;
    margin-top: -5%;
    position:absolute;
    background: #ce0033;
}
.history{
    display: flex;
    margin-top: 1%;
    margin-bottom: 1%;
}
#histoire h1{
    font-weight: bold;
    color: #ce0033;

}
.communaute{
    display: inline-block;
    max-width: 40%;
    margin-left: 2%;
}
.text2{
    padding:15%;
    margin-top: 1%;
}
.image #deco2{
    color: #ffff;
    font-size: 12px;
    display: inline-block;
    align-items: center;
    width: 15%;
    padding: 1%;
    border-radius:   0 38% 38% 0 ;
    margin-left: -2%;
    position:absolute;
    background: #ce0033;
}
#team{
    display: block;
}
#team h1{
    font-weight: bold;
    color: #ce0033;

}
.img30{
    width: 100%;
    height: 90%;
    margin: 2%;

}
.image1{
    max-width: 90%;
    background-color: #fff;
    
    
}
.image1 #deco1{
    color: #ffff;
    font-size: 12px;
    display: inline-block;
    align-items: center;
    width: 10%;
    padding: 1%;
    border-radius:   0 38% 38% 0 ;
    margin-top: 4%;
    margin-left: -2%;
    position:absolute;
    background: #ce0033;
}
#team hr{
    background-color: #000000;
    width: 10%;
    height: 2%;
    margin: 0%;

}
.img8{
    width: 100%;
    height: 100%;
    max-height: 70%;

}



